/* TRANSITIONS */
/* page */
.page-enter-active,
.page-leave-active {
  transition: all 100ms ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(-4px);
}

/* modal */
.modal-enter-active,
.modal-leave-active {
  transition: all 100ms ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: translateY(-4px);
}
